NODE_ENV=local
BASE_URL=http://localhost:3001
PORT=3001
MONGODB_URI=mongodb://localhost:27017/balanzen_local
JWT_SECRET=balanzen_secret_key_local
CLOUDINARY_CLOUD_NAME=balanzen
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=